button {
    width: 100px;
    height: 100px;
    margin: 1px;
    background-color: rgba(255, 158, 250, 0.699);
    border: 0;
}
button:hover {
    background-color: rgb(139, 29, 134);
}
button:active {
    background-color: rgb(255, 143, 249);
}
.container {
    text-align: center;
}
body {
    background: linear-gradient(to top, rgb(117, 255, 209), rgba(117, 193, 255, 0.6));
}
.main {
    text-align: center;
    margin: 0 auto;
}
#1, #2, #3, #4, #5, #6, #7, #8, #9 {
    width: 100px;
    height: 75px;
    margin: 1px;
    border-radius: 5%;
    background-color: rgba(88, 255, 97, 0.699);
    border: 0;
}