@keyframes dropdown {
    0%   { margin-top: 0em; }
    50%  { margin-top: 0.9em; }
    100% { margin-top: 0em;}
}
.list {
    margin: 0;
    padding: 0;
    background-color: #252525;
    display: inline-block;
    width: auto;
    list-style-type: none;
    border-radius: 3px;
}
.list li {
    display: inline-block;
    padding: 0.8em 1.3em;
    border-radius: 4px;
    background-color: #141414;
    border-bottom: 2px solid #000;
    position: relative;
}
.list li ul{
    position: absolute;
    display: block;
    margin-top: 0.9em;
    left: -2em;
}
.list li ul li {
    display: none;
    animation: dropdown 0.5s;
}
.list li:hover ul li{
    display: block;
}
canvas {
    background-color: #AAAAAA;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
* {
    font-family: 'Roboto', sans-serif;
    color: #BEBEBE;
}
.title {
    text-align: center;
}
body {
    background-color: #333;
}
body.index {
    background-image: linear-gradient(to top, #040404, #333);
    width: 100%;
    height: auto;
    background-size: cover;
}

#warning {
    color: red;
    font-weight: 200;
}
#new {
    color: #66ffff;
    font-weight: bold;
}
#bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(10,10,10,0.6);
    color: aliceblue;
    border-radius: 4px;
    transition: 0.2s;
    padding: 0.5em 0;
    font-size: 28px;
}
#bottom a {
    transition: 0.2s;
}
#bottom a:hover {
    text-shadow: 0px 2px 3px #020202;
    color: #888;
}
button:hover {
    border: 2px solid rgb(100, 252, 107);
    box-shadow: 0 12px 1px 0 rgba(0,0,0,0.24), 0 7px 6px 0 rgba(0,0,0,0.19);
    background-color: rgb(100, 252, 107);
    color: #141414;
}
button {
    transition-duration: 0.4s;
    background-color: rgba(0,0,0,0);
    padding: 10px 30px;
    border: 2px solid #4CAF50;
    border-radius: 3%;
    width: auto;
    height: auto;
}
.buttonContainer {
    text-align: center;
}
button:active {
    border: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(23, 77, 26);
    color: #d2dee9;
}
.jokeContainer {
    text-align: center;
    background-color: #141414;
    padding-left : 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    height: 50%;
    width : 60%;
    left: 25%;
    top: 25%;
    box-shadow: 1px 2px 4px #020202;
    position: absolute;
    
}
.jokeContainer button {
    top: 2em;
    position: relative;
}
p {
    margin: .5em;
    font-size: 22px;
}
#fit {
    height: 150%;
}
footer {
    text-align: center;
}
#q {
    display: none;
    border-radius: 5px;
    height: 3.1em;
    color: #141414;
    font-size: 22px;
}
#answer {
    display: none;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}
#answer:first-letter {
    text-transform: capitalize;
}
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(114, 21, 86);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(114, 21, 86);
    cursor: pointer;
  }
textarea {
    border-radius: 5px;
    width: 70%;
    height: 10em;
}
.textarea {
    text-align: center;
}
#loading {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}
#loading{
    display: none;
}
.loading {
    margin: 15% auto;
    margin-bottom: 1em;
    border: solid 5px #d2dee9;
    border-top: solid 5px #fa139a;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    animation: loading 1s infinite linear;
}
.loadingtxt {
    margin: 0 auto;
    text-align: center;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#biglink {
    font-size: 30px;
}
#biglink:hover {
    color: #505050;
}
#biglink:active {
    color: #ffffff;
}
.underline {
    text-decoration: underline;
    font-size: larger;
}